:root {
  --color-black: #0F1020;
  --color-yellow: #eca72c;
  --color-flame: #ee5622;
  --color-purple: #7353ba;
  --color-violet: #5b247a;
  --color-white: #f8f7ff;
  --color-dark-green: #132e32;
  --color-apricot: #ffd8be;
  --color-green: #a7c957;
  --color-red: #ef233c;
}
@media screen and (max-width:400){
  h1{
    font-size: 20px !important;
  }
}

body{
    background-color: var(--color-black);
    color: var(--color-apricot);
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a{
    color: var(--color-flame);
    text-decoration: none;
    transform: translateX(0px);
    transition-duration: 0.5s;
}

a:hover{
    color: var(--color-yellow);
    transform: translateX(10px);
    transition-duration: 0.5s;
}

.snake-game-options{
max-width: 500px;
}

.cell-matrix{
    border: var(--color-purple) 15px solid;
    border-radius: 20px;
}

.cell{
    min-width: 40px;
    min-height: 40px;
    border: 1px solid var(--color-violet);
    display: inline-block;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
    .cell{
        min-width: 20px;
        min-height: 20px;
    }
    .cell-matrix{
      border: var(--color-purple) 20px solid;
      border-radius: 20px;
  }
  
}
  
.play-pause-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.play-pause-btn i {
  position: relative;
  left: 1px;
}

.play-pause-btn.playing i:before {
  content: "\f04c"; /* FontAwesome pause icon */
}

.play-pause-btn.paused i:before {
  content: "\f04b"; /* FontAwesome play icon */
}

.divider {
  height: 1px;
  background-color: var(--color-apricot);
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input{
  background-color: transparent;
  color: var(--color-apricot);
  border: transparent;
  border-bottom: 1px solid var(--color-flame);

  font-size: larger;
}
input.node{
  border: 1px solid var(--color-flame);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
}
div.node{
  border: 1px solid var(--color-green);
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
}
button{
  background-color: var(--color-green);
  color: var(--color-white);
  border: transparent;
  border-radius: 5px;
  font-size: larger;
  padding: 5px;
  margin: 5px;
}

button.red{
  background-color: var(--color-red);
}

button.disabled{
  opacity: 0.5;
}

.invisible{
  display: none;
}
.loader { 
  margin:0 auto;
  border-radius:10px;
  border:4px solid transparent;
  position:relative;
  padding:1px;
}
.loader:before {
  content:'';
  border:1px solid var(--color-flame); 
  border-radius:10px;
  position:absolute;
  top:-4px; 
  right:-4px; 
  bottom:-4px; 
  left:-4px;
}

.loader .loaderBar { 
  position:absolute;
  border-radius:10px;
  top:0;
  right:100%;
  bottom:0;
  left:0;
  background:var(--color-apricot); 
  width:0;
  animation:borealisBar 2s linear infinite;
}

@keyframes borealisBar {
  0% {
    left:0%;
    right:100%;
    width:0%;
  }
  10% {
    left:0%;
    right:75%;
    width:25%;
  }
  90% {
    right:0%;
    left:75%;
    width:25%;
  }
  100% {
    left:100%;
    right:0%;
    width:0%;
  }
}